

@font-face {
    font-family: "jmh";
    font-style: normal;
    font-weight: normal;
    src: url("JMH Typewriter.ttf");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-size: 12em;
    font-style: normal;
    opacity: .5;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  /*  -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-color: none;
    text-decoration-line:none;
 }

a:link,a:visited
{
    color:black;
}



#InfoContent
{
    margin-top:5em;
    padding-bottom: 2em;
    box-shadow: -2px 21px 14px -8px rgba(0,0,0,0.75);
}

.bgLightGrey
{
    background:#e6e6e6;
}

.bgBlack
{
    background:black;
}



.sectionPadding {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

/* new*/
    box-shadow: -2px 21px 14px -8px rgba(0,0,0,0.75);
} 

/*-----------------------------------------------------------------------------------------------min-width: 18%;-*/
.Logo {
    font-family: 'jmh';
    font-size: 80px;
}

.TopImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: "100%";
    height: "60%";
    padding-bottom: 330px;
 /*   background-image: url('https://whsfiles.blob.core.windows.net/koodoni/code01.jpg?sp=r&st=2020-05-09T18:38:20Z&se=2120-05-10T02:38:20Z&spr=https&sv=2019-10-10&sr=b&sig=XsSu0oNlSoO3XLVbs%2BXtjUkCjwAJf1Gm4Yqzmyw1NqA%3D');
  
*/
  background-image: url(img/duopc.jpg); 
}

.bannerSize
{
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    background-attachment: fixed;
    padding-bottom: 30em;
    opacity: .7;

}
 .banner2 
{

    background-image: url(img/maket.jpg);
}

.banner3
{
    background-image: url(img/code-woman.jpg);
}

.TopBar {
    font-size: 24px;
    color: #ff9900;
    background: white;
    width: 100%;
    opacity: .9;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.infoContainer
{
    display:inline-flex;
    margin-top:3em;
    margin-bottom:2em;
}

.rightIcon
{
    font-size:12em;
    margin-left:.5em;
    color:grey;
}

.rightChar
{
    padding-top:3em;
    padding-left:3em;
}

.leftIcon
{
    font-size:12em;
    margin-left:.5em;
    color:black;

}

.break {
    clear: both;
}

.colorContainer {
    background: white; /* grey;  */
    margin: 0px;
    padding: 3%;
    color: black; /* white;  */
}

.sizeContact {
    font-size: 30px;
    opacity: .5;
    padding-left: 30%;
}

.divTable {
    width: 50%;
    float: left;
    background:white;  /*grey*/ 
    padding-bottom: 6%;


}

.divContact {
    position: center;
    margin-left: 13%;
   /*  margin-bottom: 13%;  */ 
    padding-bottom: 13%;
     /*new*/ 
    
}

.pContact {
    width: 33%;
    float: left;
    color: white;
    margin-bottom: 4em;
} 


 ul {
    float: right;
    margin: 0px;
    padding-top: 40px;
    padding-right: 30px;
    margin-bottom: inherit;
}

    ul li {
        font-size: 18px;
        display: inline-flex;
        float: right;
        text-decoration: none;
        color: black;
        padding-right: 15px;
        text-decoration: none;
        text-decoration-style: none;
        text-decoration-color: none;
    } 

body {
    font-family: "Raleway", sans-serif;
 /*   background: white;    #e6e6e6; */
    margin: 0;

}

h2 {
    text-align: center;
    min-width: 12%;
    display: center;
    margin: 0;
    padding: 2%;
}

footer{
    background:black;
}

ol {
    padding: 1%;
    background: black;
    margin: 0 0 0 20%;
}

    ol li {
        font-size: 2em;
        display: inline;
        text-decoration: none;
        color: white;
        padding-right: 1.5em;
        background:black;
    }

input {
    width: 55%;
    height: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 18px
} 

form p button {
    background: grey;
    color: white;
    width: 15%;
    height: 30px;
    font-family: "Raleway", sans-serif;
    position: absolute;
    left: 45%;
    border: none;
    font-size: 18px;
    text-decoration: none;
    text-decoration-style:none;
    text-decoration-color:none;
}

table th {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: "Raleway", sans-serif;
    background: black;
    color: white;

   
}

table td {
    border: 1px solid #e0e0d1;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 1em;
    font-family: "Raleway", sans-serif;
    background: white;
   
}

table {
    /*float:left;*/
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: 25%;
    text-align: center;
    width: 330px;

    box-shadow: -17px 21px 22px -8px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
}


.ocultar{
    display:none;
}

.mostrar{
    display:block;
}

.mostrar p {
    width: 100%;
    color: white;
    padding: 4em 1em 1em 0;
}

/*------------------------------------------------------------------------------------------------*/

@media screen and (max-width:700px) {

    ul {
        
        margin: 0px;
        padding-right: 2em;
        display:grid;
        float:none;
    }

    
    ul li {
        font-size: 18px;
        margin-bottom: .5em;
        text-decoration: none;
        color: black;
        padding-right: 15px;
        text-decoration: none;
        text-decoration-style: none;
        text-decoration-color: none;
    }



    .Logo {
        font-family: 'jmh';
        font-size: 70px;
    }

    .divsection {
        width: 50%;
        float: left;
        text-align: center;
       /* margin: 27px; */
        margin-left: 5%;
        padding-left: 20%;
    }

    table {
        border-spacing: 0px;
        border-collapse: collapse;
        margin-left: 17%;
        text-align: center;
        width: 330px;
      
    }

    .divTable {
        width: 100%;
        background: white;
        padding-top: 2em;
        margin:0px;
    }

    .sizeContact {
        font-size: 2em;
        opacity: .5;
     }

    .pContact {
        width: 100%;
        float: left;
        color: white;
        margin-bottom: 4em;
    } 
    
    
}

    /*------------------------------------------------------------------------------------------------*/

    @media screen and (max-width:550px){
       
        .rightIcon
        {
            font-size:9em;
            margin-left: .5em;
            color:grey;
        }
        
        .rightChar
        {
            padding-top: 3em;
            padding-left: 2em;
        }
        
        .leftIcon
        {
            color:black;
        }

        .infoContainer
        {
           margin-top:3em;
           margin-bottom:2em;
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-size: 9em;
            font-style: normal;
            opacity: .5;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            /*-webkit-font-feature-settings: 'liga'; */
            -webkit-font-smoothing: antialiased;
        }

        ul {
            margin: 0px;
            padding-top: 40px;
            padding-right: 30px;
            margin-bottom: inherit;

        }

            ul li {
                font-size: 14px;
                text-decoration: none;
                color: black;
                padding-right: 5px;

            }

        .pContact {
            width: 100%;
            margin-left: 3%;
        }
        
        .sizeContact {
            font-size: 30px;
            opacity: .5;
    
       }

        .divTable {
            width: 100%;
            background: white;
            padding-bottom: 2em;
            padding-top: 1%;
            margin:0px;
        }


        table {
            border-spacing: 0px;
            border-collapse: collapse;
            margin-top: 7%;
            text-align: center;
            width: 310px;
            overflow: hidden;
        }

        form p button {
            background: grey;
            color: white;
            width: 17%;
            height: 30px;
            font-family: "Raleway", sans-serif;
            position: absolute;
            left: 45%;
            border: none;
            font-size: 18px;
            text-decoration: none;
            text-decoration-style: none;
            text-decoration-color: none;
        }

       

    }


 /*------------------------------------------------------------------------------------------------*/

    @media screen and (max-width:400px){
       
        .rightIcon
        {
            font-size:9em;
            margin-left: .7em;
            color:grey;
        }
        
        .rightChar
        {
            padding-top: 3em;
            padding-left: 2em;
        }
        
        .leftIcon
        {
            color:black;
        }

        .infoContainer
        {
           display: grid;
           margin-top:3em;
           margin-bottom:2em;

        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-size: 9em;
            font-style: normal;
            opacity: .5;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            /*-webkit-font-feature-settings: 'liga'; */
            -webkit-font-smoothing: antialiased;
        }

        ul {
            margin: 0px;
            padding-top: 40px;
            padding-right: 30px;
            margin-bottom: inherit;
           
        }

            ul li {
                font-size: 14px;
                text-decoration: none;
                color: black;
                padding-right: 5px;

            }

        .pContact {
            width: 100%;
            margin-left: 1%;
        }
        
        .sizeContact {
            font-size: 20px;
            opacity: .5;
    
       }

        .divTable {
            width: 100%;
            background: white;
            padding-bottom: 2em;
            padding-top: 1%;
            margin:0px;
        }


        table {
            border-spacing: 0px;
            border-collapse: collapse;
            margin-top: 7%;
            margin-left: 2em;
            text-align: center;
            width: 310px;
            overflow: hidden;
        }

        form p button {
            background: grey;
            color: white;
            width: 17%;
            height: 30px;
            font-family: "Raleway", sans-serif;
            position: absolute;
            left: 45%;
            border: none;
            font-size: 18px;
            text-decoration: none;
            text-decoration-style: none;
            text-decoration-color: none;
        }

       

    }









/* 

margin-left:30px;margin-top:30px;margin-bottom:30px
.divsection {
    width: 20%;
    float: left;
    text-align: center;
    margin: 40px;
    margin-left: 5%;
    padding: 25px;
} 

.supIndex {
    font-size: 8px;
    color: white;
    background: grey;
} 


 .png {
    font-size: 196px;
    opacity: .5;
    padding-left: 5%;
    float: left;
} 

.pngMedium {
    font-size: 196px;
    opacity: .5;
    padding-left: 6%;
    float: left;
}

.pngLarge {
    font-size: 196px;
    opacity: .5;
    padding-left: 5%;
    float: left;
}

.SectionTool {
    float: left;
    min-width: 100%;
    background: white;
}

.SectionInfoImg {
    font-size: 126px;
    opacity: .5
}  

.SectionUS {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center
} 

<--------------------------------->

@media screen and (max-width:400px)

   .png {
            font-size: 196px;
            opacity: .5;
            padding-left: 33%;
            float: left;
        }

        .pngMedium {
            font-size: 196px;
            opacity: .5;
            padding-left: 21%;
            float: left;
        }

        .pngLarge {
            font-size: 196px;
            opacity: .5;
            padding-left: 28%;
            float: left;
        }  

 @media screen and (max-width:700px)
  .png {
        font-size: 196px;
        opacity: .5;
        padding-left: 40%;
        float: left;
    }

    .pngMedium {
        font-size: 196px;
        opacity: .5;
        padding-left: 32%;
        float: left;
    }

    .pngLarge {
        font-size: 196px;
        opacity: .5;
        padding-left: 35%;
        float: left;
    }  